@model CaimanProject.Models.Projet
<main class="main-content">
    <div class="block">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb bg-white">
                            <li class="breadcrumb-item"><a href="/Home/VueProjet/@Model.ProjetId">projet</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Cahier de charge</li>
                        </ol>
                    </nav>
                </div>
                <div class="col-12">
                    <div class="departmentDesc">
                        <h1>@Model.ProjetName</h1>
                        <p>
                           @Model.ProjetDescription
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="simple-card">
                        <div class="simple-card__content">
                            <h2 class="mb-5">Cahier de charge</small></h2>
                            <iframe src="~/Charges/@Model.ProjetCahierCharge" frameborder="0" height="600px" width="100%"></iframe>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</main>
