<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Caiman</title>

    <link rel="stylesheet" href="~/Content/style/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/style/main.css">

    <link rel="shortcut icon" type="image/png" href="~/Content/img/logo-nan.png" />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>

    @if (User.Identity.IsAuthenticated)
    {
        @Html.Partial("~/Shared/NavBarPartial/_NavBar")
    }

    @RenderBody()

    <script src="~/Scripts/js/jquery.min.js"></script>
    <script src="~/Scripts/js/main.js"></script>
    <script src="~/Scripts/js/bootstrap.min.js"></script>
</body>
</html>
