@model CaimanProject.Models.ModeNote
<main class="main-content">
    <div class="block">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb bg-white">
                            <li class="breadcrumb-item"><a href="/Home/VueProjet/@Model.Projets.ProjetId">Projet</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Nouvelle note</li>
                        </ol>
                    </nav>
                </div>
                <div class="col-12">
                    <div class="departmentDesc">
                        
                            <h1>@Model.Projets.ProjetName</h1>
                            <p>
                                @Model.Projets.ProjetDescription
                            </p>
                        


                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <h2 class="mb-5">Nouvelle note</h2>
                    <div class="simple-card">
                        <div class="simple-card__content">
                            <form action="#" class="formular" method="post">

                                <div class="form-group mb-5">
                                    <label for="exampleFormControlTextarea1">Message</label>
                                    <textarea class="form-control" id="NotePDescription" name="NotePDescription" rows="10"></textarea>
                                </div>
                                <button type="submit" class="btn-green">
                                    Enregistrer
                                </button>
                            </form>

                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
    </div>
</main>